{% extends 'base.html' %}

{% block content %}
<div class="page">
    <h1 class="title">All Questions</h1>
    <a class="new-question-link" href="{% url 'forum:new-question' %}">New Question</a>
    {% for question in questions %}
    <div class="question-list-item">
        <a class="question-link" href="{% url 'forum:question' question.id %}">
            <p class="question-list-item-title">
                {{question.title}}
            </p>
        </a>
        <p class="question-list-item-author">
            by {{question.author.username}}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}