{% extends 'base.html' %}

{% block content %}
<div class="question-page page">
    <h1 class="question-title">{{question.title}}</h1>
    <p class="question-body">{{question.body}}</p>
    <p class="question-author">by {{question.author.username}}</p>

    <div class="response-container">
        <h4 class="responses-container-heading">Responses:</h4>

        {% if not question.responses.all %}
        <p class="no-response-text">No Responses yet!</p>
        {% else %}
            {% for response in question.get_responses %}
                {% include 'components/response.html' with response=response %}
            {% endfor %}
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <form method="POST" action="" class="response-form">
        {% csrf_token %}
        <div class="field-wrapper">
            <label for="{{response_form.body.id_for_label}}">Comment:</label>
            {{response_form.body}}
        </div>
        <input type="submit" value="Submit" class="submit-btn"/>
    </form>
    {% endif %}
</div>
{% endblock %}